*:not(input, p, table, th, tr, td) {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0e1b1a;
  font-family: "Playfair Display", serif;
}

main {
  width: 95%;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

.new-task {
  background-color: #0d324d;
  color: #eef6fc;
  font-size: 1.2rem;
  height: 100%;
  width: 49%;
  border-radius: 1rem;

  h1 {
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    div {
      display: flex;
      align-items: center;
      &.dates-div {
        display: flex;
        gap: 5%;
      }
      &.button-div {
        height: 15%;
        justify-content: flex-end;
      }
    }
  }
}

.task-list {
  background-color: #7a0018;
  color: #fdf3f5;
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;

  h1 {
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    width: 90%;
    background-color: #faf4f5;
    border: solid 1px black;
    color: #140004;
    font-size: 1.3rem;
    border-collapse: collapse;

    th {
      width: 16.666%;
      border: solid 1px black;
	  padding: 5px;
    }

    td {
      text-align: center;
      font-size: 1rem;
      border: solid 1px black;
    }
  }
}


input {
	font-family: "Playfair Display", serif;
}

input[type="date"] {
  margin-left: 1.2rem;
  border-radius: 0.3rem;
  font-family: "Playfair Display", serif;
  font-size: 1rem;

}

input[type="text"],
select {
	font-size: 1rem;
  height: 150%;
  border-radius: 0.3rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;

}

input[type="submit"] {
  margin-left: 1.2rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  padding: 10px 27px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.37),
      0 17px 50px 0 rgba(0, 0, 0, 0.37);
  }
}

input[type="reset"] {
  margin-left: 1.2rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  padding: 10px 27px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.37),
      0 17px 50px 0 rgba(0, 0, 0, 0.37);
  }
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

textarea {
  border-radius: 0.3rem;
  font-family: "Playfair Display", serif;
  font-size: 1rem;

}
